:root {
  --bg-white-100: #edf4fa;
  --bg-white-200: #f2f2fc;
  --text-black-100: #302e4d;
  --text-black-200: #504e70;
  --text-black-300: #faad1b;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
::before,
::after {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffbf49;
  border-radius: 10px;
  height: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #faad1b;
}

body {
  line-height: 1.5;
}
.section {
  background: var(--bg-white-100);
  min-height: 100vh;
  display: block;
  /* position: fixed;
  left: 144px;
  top: 0;
  right: 0;
  z-index: 0; */
  opacity: 1;
  /* padding-left: 20px;
  padding-right: 20px; */
}
.main-container {
  padding-left: 144px;
}
.sidebar {
  width: 100px;
  background: var(--bg-white-200);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 10;
}
.sidebar .nav li a.active {
  color: var(--text-black-300);
  border: 2px sloid red;
}
