:root {
  --bg-white-100: #edf4fa;
  --bg-white-200: #f2f2fc;
  --text-black-100: #302e4d;
  --text-black-200: #504e70;
  --text-black-300: #faad1b;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
::before,
::after {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffbf49;
  border-radius: 10px;
  height: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #faad1b;
}

body {
  line-height: 1.5;
}
.section {
  /* background: green; */
  background: var(--bg-white-100);
  min-height: 100vh;
  display: block;
  position: fixed;
  left: 115px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
.section.back-section {
  z-index: 1;
}
.section.active {
  z-index: 2;
  opacity: 1;
  animation: slideInSection 1s ease-in-out;
}
@keyframes slideInSection {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(0%);
  }
}
/* .main-container {
  padding-left: 115px;
} */
.sidebar {
  width: 100px;
  /* background: var(--bg-white-200); */
  position: fixed;
  left: 0px;
  top: 0;
  height: 100%;
  z-index: 10;
}
.sidebar .nav li a.active {
  color: var(--text-black-300);
  /* width: 20px;
  height: 20px; */
}
.sidebar .toggle-sidebar {
  position: fixed;
  left: 120px;
}
.nav li,
.menu-icon {
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.tooltip {
  position: absolute;
  left: 50px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  background: var(--text-black-300);
  font-weight: 500;
  font-size: 12px;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.nav li a:hover {
  color: var(--text-black-300);
}
.nav li a:hover + .tooltip {
  visibility: visible;
  opacity: 1;
}
/* ====== About Section ====== */
.about-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* ====== Project Section ====== */
.project-card {
  box-shadow: #e8dfec 0px 3px 5px 0px, #e8dfec 0px 3px 5px 0px, rgba(10, 37, 64, 0.35) 0px 0px 3px 0px inset;
}
.text-stroke {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #969fbd;
  -webkit-text-fill-color: transparent;
}
.text-stroke:hover {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #faad1b;
  -webkit-text-fill-color: transparent;
}
